body {
    /* background-color: rgb(247, 235, 237);
    background-color: rgb(255,245,221); */
    background-color: rgb(245,245,245);
    background-color: #fff;
    position: relative;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
 
}

.heading {
    text-align: center;
    
}

input[type=number] {
    -moz-appearance: textfield;
}


.input, .username {
    display: block;
    padding: 1.5rem 2rem;
    width: 30rem;
    margin: 0 auto;
    font-size: 32px;
    outline: 0;
    text-align: center;
    border-width: 0px;
    border-radius: 18px;
    box-shadow: 
                 inset 3px 3px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(245,245,245);
    
}

.username {
    margin-bottom: 55px;
}


.screen {
    
    display: none;
    margin-top: 20px;
    width: 100%;
    /* background-color: green; */
    padding: 0.5rem;
    /* width: 30rem; */
    /* margin: 5rem auto; */
    font-size: 30px;
    border:0px solid azure;
    /* box-shadow: 3px 2px 10px #000; */
    outline: 0;
    line-height: 2;
    color: rgb(125,117,117);
    /* font-weight: 400; */
    
    /* letter-spacing: 10px; */
    /* text-align: center; */

}

.ans {
    display: none;
    margin-top: 120px;
    
    padding: 1.5rem 2rem;
    width: 30rem;
    margin: 0 auto;
    font-size: 18px;
    border:1px solid azure;
    box-shadow: 3px 2px 10px #000;
    outline: 0;
    line-height: 1.5;
    resize: none;
}

.score_wrapper {
    position: absolute;
    left: 50%;
    transform: translate(15%);

    display: none;
    
    transform: translate(-50%);
    margin: 15px 0px 30px 0px;
    font-size: 20px;
    font-family: Helvetica, Arial sans-serif;
    padding: 50px 65px;
    line-height: 1.5;
    
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.3), 
                 3px 3px 15px rgba(0, 0, 0, 0.3);    
    
}

.history_btn {
    outline: 0;
    border-width: 0px;
    padding: 10px 25px;
    font-weight: 550;
    text-align: right;
    background-color: rgb(4, 4, 44);
    border-radius: 9px;
    color: #fff;
    margin-top: 15px;
    box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.3), 
                 3px 3px 10px rgba(0, 0, 0, 0.2);    
}

.history_btn:hover {
    box-shadow: -2px -1px 10px 0px green;
}

.label {
    font-weight: 550;
    text-align: center;
}

.history_tbl {
    
    display: none;
    border: none;
    border-spacing: 0px;
    width: 68%;
    margin: 0 auto;
    position: relative;
    left: 1.5%;
}

td, th {
    text-align: center;
    border: 1px solid #777;
    padding: 15px;
    border-spacing: 0px;
}

.clear_btn_div {
    width: 100%;
}

.clear_btn {
    position: relative;
    left: 45%;
    padding: 12px 22px;
    margin-top: 20px;
}


