/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* My CSS */
body {
    /* background-color: rgb(247, 235, 237);
    background-color: rgb(255,245,221); */
    /* background-color: rgb(245,245,245); */
    /* background-color: #fff; */

    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
 
}

a {
    text-decoration: none;
}

.heading {
    text-align: center;
    
}

input[type=number] {
    -moz-appearance: textfield;
}


.username {
    margin-bottom: 55px;
}


.screen {
    
    display: none;
    margin-top: 20px;
    width: 100%;
    
    padding: 0.5rem;
   
    font-size: 25px;
    border:0px solid azure;
    
    outline: 0;
    line-height: 2;
    color: rgb(125,117,117);
}

.ans {
    display: none;
    margin-top: 120px;
    
    padding: 1.5rem 2rem;
    width: 30rem;
    margin: 0 auto;
    font-size: 18px;
    border:1px solid azure;
    box-shadow: 3px 2px 10px #000;
    outline: 0;
    line-height: 1.5;
    resize: none;
}

.score_wrapper {

    position: absolute;
    left: 50%;
    transform: translate(15%);

    display: none;
    
    transform: translate(-50%);
    margin: 100px 0px 30px 0px;
    font-size: 20px;
    font-family: Helvetica, Arial sans-serif;
    padding: 50px 65px;
    line-height: 2.5;
    
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.3), 
                 3px 3px 15px rgba(0, 0, 0, 0.3);    
    
}

.history_btn {
    outline: 0;
    border-width: 0px;
    padding: 10px 25px;
    font-weight: 550;
    text-align: right;
    background-color: rgb(4, 4, 44);
    border-radius: 9px;
    color: #fff;
    margin-top: 15px;
    box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.3), 
                 3px 3px 10px rgba(0, 0, 0, 0.2);    
}

.history_btn:hover {
    box-shadow: -2px -1px 10px 0px green;
}

.label {
    font-weight: 550;
    text-align: center;
}

.history_tbl {
    
    display: none;
    border: none;
    border-spacing: 0px;
    width: 100%;
    margin: 120px auto;
    margin-bottom: 20px;
    position: relative;
    left: 14%;
    box-sizing: border-box;
}

td, th {
    text-align: center;
    border: 1px solid #777;
    padding: 15px;
    border-spacing: 0px;
}

.clear_btn_div {
    width: 100%;
}

.clear_btn {
    position: relative;
    left: 44%;
    top: 0%;
    padding: 12px 22px;
    margin-top: 20px;
}

/* Header */

.timer_wrapper {
    visibility: hidden;
    text-align: right;
    font-weight: 600;
    
    
    /* margin-right: 20px; */
    /* margin-bottom: 100px; */
}

.timer {
    visibility: hidden;
    margin-top: 40px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.logo {
    font-size: 28px;
    letter-spacing: 1px;
}

.logo a {
    color: rgba(255, 255, 255, 0.8);
}


.nav_links li {
    list-style-type: none;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.user_icon {
    color: grey;
}

.header {
    height: 60px;
    background: linear-gradient(to left top, rgb(44,196,204), rgb(0,145,210), rgb(86,108,225));;
}

.banner_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    
    padding: 0px 30px;
    padding-bottom: 60px;
    margin-bottom: 100px;
    box-shadow: 2px 5px 10px #ccc,
               -0px 2.5px 10px #ccc;
}

.banner {
    margin-top: 100px;
    flex-basis: 45%;
    height: 100%;
    background-color: #000;
    margin-right: 40px;
    padding-top: 60px;

    padding-bottom: 0px;
    border: 1px solid #777;
    width: 200px;
    /* box-shadow: 0px 0.5px 2px #777; */
}

.input_sec {
    flex-basis: 45%;
}

.username {
    flex-basis: 35%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 0;
    font-size: 22px;
    color: rgb(66, 66, 66);
}

.instuction {
    line-height: 2;
    list-style-type: disc;
    margin-top: -20px;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(122, 108, 108)
}

.user_icon {
    visibility: hidden;
    position: relative;
    z-index: 555;
}

th {
    font-weight: bold;
}
